#detail_w {
    padding-top: 32px;
    padding-bottom: 50px;
}

// 放大镜
.glass_box {
    position: relative;
    #small {
        position: absolute;
        left: 0;
        top: 0;
        width: 560px;
        height: 560px;
        border: 2px solid rgb(255,255,255);
        img {
            width: 100%;
            height: 100%;
        }
        #mask {
            position: absolute;
            left: 0;
            top: 0;
            width: 200px;
            height: 200px;
            background: rgba($color: #000, $alpha: .2);
            cursor: move;
            display: none;
        }
    }
    #big {
		background: #fff;
        position: absolute;
        z-index: 10;
        left: 570px;
        top: 0;
        width: 560px;
        height: 560px;
        overflow: hidden;
        display: none;
        border: 2px solid #eee;
        #bigImg {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

// 放大图
.detail_box {
    float: left;
}

// 商品信息
.detail {
    float: left;
    width: 606px;
    padding-left: 620px;
    .name {
        font-size: 24px;
        font-weight: normal;
        color: #212121;
    }
    .info {
        color: #b0b0b0;
        margin: 0;
        padding: 0;
        padding-top: 8px;
    }
    .company {
        margin-top: 20px;
        color: #ff6700;
    }
    .price_box {
        font-size: 18px;
        line-height: 1;
        color: #ff6700;
        padding: 12px 0 20px;
    }
    .place_box {
        margin-top: 30px;
        margin-bottom: 30px;
        .place {
            background: #fafafa;
            border: 1px solid #e0e0e0;
            padding-left: 50px;
            padding: 30px 40px 30px 32px;
            line-height: 30px;
            i {
                font-size: 20px;
                color: #999;
                padding-right: 10px;
                position: relative;
                top: 2px;
            }
            .address {
                span {
                    color: #ff6700;
                }
            }
            .have {
                padding-left: 30px;
                color: #ff6700;
            }
        }
    }
    .edition_box {
        margin-bottom: 30px;
        .edi_title {
            font-size: 18px;
        }
        .edi_list {
            margin-left: -6px;
            li {
                margin-left: 6px;
                margin-top: 15px;
                line-height: 42px;
                height: 42px;
                float: left;
                position: relative;
                border: 1px solid #e0e0e0;
                list-style: none;
                cursor: pointer;
                overflow: hidden;
                width: 298px;
                
                a {
                    display:block;
                    color: #333;
                    text-align: left;
                    margin: 0;
                    padding: 0 27px;
                    .name {
                        color: #333;
                        font-size: 16px;
                    }
                    .price {
                        float: right;
                        color: #757575;
                    }
                }
                .center {
                    text-align: center;
                }
            }
            
        }
    }
}

#active {
    border-color: #ff6700;
    color: #ff6700;
}

// 加入购物车
#goCard {
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
    width: 298px;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    display: block;
    text-align: center;
}