@import "reset.scss";

.head-mini {
	font-size: 12px;
    border-bottom: 2px solid #ff6700;
    background: #fff;
    color: #b0b0b0;
	background: #FFFFFF;
}

.cart-list {
	background: #FFFFFF;
}
.head {
	position: relative;
	height: 100px;
	
	.cart-box {
		position: relative;
		.logo {
			width: 93px;
			margin-top: 26px;
			float: left;			
			a {
				display: block;
				img {
					width: 48px;
					height: 48px;
				}
				
			}
		}
		.cart-title {
			float: left;
			margin-top: 26px;
			h2 {
				float: left;
				line-height: 48px;
				margin-bottom: 0;
				font-size: 28px;
				color: #424242;
			}
			p {
				float: left;
				height: 20px;
				line-height: 20px;
				margin-top: 20px;
				margin-left: 15px;
				color: #757575;
			}
		}
		.userInfo {
			position: relative;
			float: right;
			margin-top: 30px;
			color: #757575;
			span {
				margin-top: 14px;
				display: block;
			}
			i {
				font-weight: 800;
				padding-left: 5px;
			}
		}
		
	}
}


.cart-content-box {
	padding-top: 38px;
    padding-bottom: 38px;
	background: #f5f5f5;
}

// .content-box {
// 	background: #FFFFFF;
// }

// 商品头
.list-head {
	height: 70px;
    line-height: 70px;
    padding-right: 26px;
    color: #424242;
}
.col-check {
	width: 110px;
	.checkbox1 {
		width: 18px;
		height: 18px;
		line-height: 18px;
		border: 1px solid #e0e0e0;
		margin-left: 24px;
		background-color: #fff;
		color: #fff;
		font-size: 20px;
		text-align: center;
		vertical-align: middle;
		position: relative;
		top: -1px;
		cursor: pointer;
		display: inline-block;
		margin-right: 15px;
		&:hover {
			color: #757575;
		}
	}
}
.col-img {
	width: 120px;
}
.col-name {
	width: 380px;
}
.col-price {
	width: 75px;
    padding-right: 84px;
    text-align: right;
    color: #424242;
}
.col-num {
	width: 150px;
    text-align: center;
    color: #424242;
}
.col-total {
	width: 120px;
    padding-right: 81px;
    text-align: right;
}
.col-action {
	width: 80px;
    text-align: center;
}

.col {
	line-height: 80px;
	padding-bottom: 5px;
}

// 商品信息
.item-box {
	padding: 15px 26px 60px 0;
    border-top: 1px solid #e0e0e0;
	.item-table {
		display: table;
		border-collapse: collapse;
		border-spacing: 0;
		.item-row {
			display: table-row;
			border-bottom: 1px solid #e0e0e0;
			.col-img {
				width: 80px;
				height: 80px;
				padding-right: 40px;
				overflow: hidden;
				a {
					img {
						width: 80px;
						height: 80px;
					}
				}
			}
			.col-num,.col-price {
				font-size: 16px;
			}
			.col-total {
				color: #ff6700;
				font-size: 16px;
			}
			.col-name {
				.name {
					font-size: 18px;
					font-weight: 300;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
			.col-action {
				.item-del {
					i {
						color: #757575;
						font-size: 24px;
					}
				}
			}
			.col-num {
				.change-num {
					width: 148px;
					height: 38px;
					border: 1px solid #e0e0e0;
					text-align: center;
					background-color: #fff;
					position: relative;
					top: 20px;
					.addNum,.reduceNum {
						float: left;
						width: 38px;
						height: 38px;
						line-height: 38px;
						color: #757575;
						font-size: 20px;
					}
					.shopCartNum {
						float: left;
						width: 72px;
						height: 38px;
						line-height: 38px;
						padding: 0;
						border-width: 0;
						color: #424242;
						font-size: 16px;
						text-align: center;
						outline: 0;
						background: #fff;
					}
				}
			}
		}
	}
}

.marginBox {
	margin: 20px 0;
	background: #f5f5f5;
}
// 结算
.buyCard {
	height: 50px;
    text-align: right;
    background-color: #fff;
	.shopNumCount {
		line-height: 50px;
		margin-left: 32px;
		color: #757575;
		i {
			color: #ff6700;
		}
	}
	.priceCount {
		padding-left: 13px;
		color: #ff6700;
		i {
			font-size: 30px;
		}
	}
	.settleAccounts {
		display: inline-block;
		width: 200px;
		height: 50px;
		line-height: 48px;
		font-size: 18px;
		margin-left: 50px;
		vertical-align: top;
		background: #ff6700;
		border-color: #ff6700;
		color: #fff;
		text-align: center;
	}
}